@model IEnumerable<Dormitory.Domain.Entities.Faculty>

@{
    ViewData["Title"] = "Факультети";
}

<h1>Список факультетів</h1>

<p>
    <a asp-action="Create">Додати новий факультет</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facultyname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Facultyname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Facultyid">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Facultyid">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Facultyid">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
