@model Dormitory.Domain.Entities.Student

@{
    ViewData["Title"] = "Видалення студента";
}

<h1>Видалення студента</h1>
<hr />
<h5 class="text-danger">Ви впевнені що хочете видалити цього студента?</h5>

<dl class="row mt-3">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Fullname)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Fullname)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Course)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Course)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Birthdate)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Birthdate)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Gender)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Gender)</dd>

    <dt class="col-sm-3">Факультет</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Faculty.Facultyname)</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Studentid" />
    <div class="d-flex gap-2 mt-3">
        <input type="submit" value="Видалити" class="btn btn-outline-danger rounded-pill" />
        <a asp-action="Index" class="btn btn-outline-primary rounded-pill">Назад до списку</a>
    </div>
</form>