@model Dormitory.Domain.Entities.Student

@{
    ViewData["Title"] = "Деталі студента";
}

<h1>Деталі студента</h1>
<hr />
<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Fullname)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Fullname)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Course)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Course)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Birthdate)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Birthdate)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Phone)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Phone)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Gender)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Gender)</dd>

    <dt class="col-sm-3">Факультет</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Faculty.Facultyname)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DistanceKm)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.DistanceKm)</dd>

    <dt class="col-sm-3">Пільга</dt>
    <dd class="col-sm-9">@(Model?.HasPrivilege == true ? "Так" : "Ні")</dd>
</dl>

<div class="d-flex gap-2 mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Studentid" class="btn btn-outline-primary rounded-pill">Редагувати</a>
    <a asp-action="Index" class="btn btn-outline-primary rounded-pill">Назад до списку</a>
</div>