@model IEnumerable<Dormitory.Domain.Entities.Student>

@{
    ViewData["Title"] = "Студенти";
}

<h1>Список студентів</h1>

<p>
    <a asp-action="Import" class="btn btn-outline-primary mb-3 rounded-pill">Завантажити з файлу</a>
    <a asp-action="Export" class="btn btn-outline-primary mb-3 ms-2 rounded-pill">Експортувати у файл</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Fullname)</th>
            <th>@Html.DisplayNameFor(model => model.Course)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <th>Факультет</th>
            <th>@Html.DisplayNameFor(model => model.DistanceKm)</th>
            <th>Пільга</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fullname</td>
                <td>@item.Course</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@(item.Gender == "Ч" ? "Чол" : "Жін")</td>
                <td>@item.Faculty?.Facultyname</td>
                <td>@item.DistanceKm км</td>
                <td>@(item.HasPrivilege ? "✅" : "")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Studentid" class="btn btn-sm btn-outline-secondary rounded-pill">Деталі</a>
                </td>
            </tr>
        }
    </tbody>
</table>
