@model Dormitory.Domain.Entities.Room

@{
    ViewData["Title"] = "Видалення кімнати";
}

<h1>Видалення кімнати</h1>
<hr />
<h5 class="text-danger">Ви впевнені, що хочете видалити цю кімнату?</h5>

<dl class="row mt-3">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Roomnumber)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Roomnumber)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Floor)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Floor)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Capacity)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Capacity)</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Roomid" />
    <div class="d-flex gap-2 mt-3">
        <input type="submit" value="Видалити" class="btn btn-outline-danger rounded-pill" />
        <a asp-action="Index" class="btn btn-outline-primary rounded-pill">Назад до списку</a>
    </div>
</form>