@model IEnumerable<Dormitory.Domain.Entities.Room>

@{
    ViewData["Title"] = "Кімнати";
}

<h1>Список кімнат</h1>

<p>
    <a asp-action="Create">Додати нову кімнату</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roomnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Roomnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Roomid">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Roomid">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Roomid">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
