@model Dormitory.Domain.Entities.Residencehistory

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалення запису</h1>
<hr />
<h5 class="text-danger">Ви впевнені, що хочете видалити цей запис?</h5>

<dl class="row mt-3">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Student)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Student.Fullname)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Room)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Room.Roomnumber)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Checkindate)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Checkindate)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Checkoutdate)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Checkoutdate)</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Historyid" />
    <div class="d-flex gap-2 mt-3">
        <input type="submit" value="Видалити" class="btn btn-outline-danger rounded-pill" />
        <a asp-action="Index" class="btn btn-outline-primary rounded-pill">Назад до списку</a>
    </div>
</form>
