@model IEnumerable<Dormitory.Domain.Entities.Residencehistory>

@{
    ViewData["Title"] = "Історія проживання";
}

<h1>Історія проживання</h1>

<p>
    <a asp-action="Create">Додати нову</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Checkindate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkoutdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Checkindate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checkoutdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Roomnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Fullname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Historyid">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Historyid">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Historyid">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
