@model Dormitory.Domain.Entities.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicationtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicationtype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Submissiondate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Submissiondate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decisiondate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decisiondate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rejectionreason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rejectionreason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extensionstartdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extensionstartdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extensionenddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extensionenddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Academicperiod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Academicperiod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Statusname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Fullname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Applicationid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
