@model IEnumerable<Dormitory.Domain.Entities.Application>

@{
    ViewData["Title"] = "Заяви";
}

<h1>Список заяв</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary mb-3 rounded-pill">Додати нову заяву</a>
    <a asp-action="Import" class="btn btn-outline-primary mb-3 ms-2 rounded-pill">Завантажити з файлу</a>
    <a asp-action="Export" class="btn btn-outline-primary mb-3 ms-2 rounded-pill">Експортувати у файл</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Applicationtype)</th>
            <th>@Html.DisplayNameFor(model => model.Submissiondate)</th>
            <th>@Html.DisplayNameFor(model => model.Decisiondate)</th>
            <th>@Html.DisplayNameFor(model => model.Rejectionreason)</th>
            <th>@Html.DisplayNameFor(model => model.Extensionstartdate)</th>
            <th>@Html.DisplayNameFor(model => model.Extensionenddate)</th>
            <th>@Html.DisplayNameFor(model => model.Academicperiod)</th>
            <th>Адмін</th>
            <th>Статус</th>
            <th>Студент</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Applicationtype)</td>
                <td>@Html.DisplayFor(modelItem => item.Submissiondate)</td>
                <td>@Html.DisplayFor(modelItem => item.Decisiondate)</td>
                <td>@Html.DisplayFor(modelItem => item.Rejectionreason)</td>
                <td>@Html.DisplayFor(modelItem => item.Extensionstartdate)</td>
                <td>@Html.DisplayFor(modelItem => item.Extensionenddate)</td>
                <td>@Html.DisplayFor(modelItem => item.Academicperiod)</td>
                <td>@Html.DisplayFor(modelItem => item.Admin.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.Status.Statusname)</td>
                <td>@Html.DisplayFor(modelItem => item.Student.Fullname)</td>
                <td>
                    <div class="d-flex gap-1">
                        <a asp-action="Edit" asp-route-id="@item.Applicationid" class="btn btn-sm btn-outline-primary rounded-pill">Редагувати</a>
                        <a asp-action="Details" asp-route-id="@item.Applicationid" class="btn btn-sm btn-outline-primary rounded-pill">Деталі</a>
                        <a asp-action="Delete" asp-route-id="@item.Applicationid" class="btn btn-sm btn-outline-danger rounded-pill">Видалити</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>