@model Dormitory.Domain.Entities.Document

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалення документа</h1>
<hr />
<h5 class="text-danger">Ви впевнені, що хочете видалити цей документ?</h5>

<dl class="row mt-3">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Student)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Student.Fullname)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Type)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Type.Typename)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Filecontent)</dt>
    <dd class="col-sm-9">
        @if (Model.Filecontent != null && Model.Filecontent.Length > 0)
        {
            <span>Є файл</span>
        }
        else
        {
            <span class="text-muted">Немає</span>
        }
