@model Dormitory.Domain.Entities.Document

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі документа</h1>
<hr />

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Student)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Student.Fullname)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Type)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Type.Typename)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Filecontent)</dt>
    <dd class="col-sm-9">
        @if (Model.Filecontent != null && Model.Filecontent.Length > 0)
        {
            <a asp-action="Download" asp-route-id="@Model.Documentid" class="btn btn-sm btn-outline-primary rounded-pill">
                Завантажити файл
            </a>
        }
